# Twitch Config
TWITCH_STREAM_KEY=live_00000000_xxxxxxxxxxxxxxxxxxxxxxxxxx
INGEST_SERVER=rtmp://live-fra.twitch.tv/app/

# Nviz Config
NVIZ_WIDTH=854
NVIZ_HEIGHT=480
NVIZ_FPS=30
NVIZ_FIFO_PATH=/tmp/nano_fifo

# Audio Config
AUDIO_PIPE=/tmp/audio_pipe
AUDIO_MASTER_PATH=/tmp/audio_master_pipe
